*{

	margin: 0;
	padding: 0;


}
p{
	
padding-top: 130px;
}
.img{
 
   

}

 .nep{
 	padding-top: 30px;
 }

a{
text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
   font-style: italic;
	color: #fbffb8;
	text-decoration: none;
}


.head{
	display: block;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 400px;
	
		width: 480px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image: url(img/andromedy-ngc-224-galaktika-m-31-1.jpg)  ;
	background-blend-mode: hard-light, multiply, normal;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}

.body{
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 400px;
	
		width: 480px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image: url(img/game-of-thrones-margaery-tyrell-pinup-models-pinup-vintage-f.jpg) ;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}


.body2{
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 400px;
	
		width: 480px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image:  url(img/game-of-thrones-daenerys-targaryen-pinup-models-pinup-vintag.jpg) ;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}


.body3{
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 400px;
	
		width: 480px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image:  url(img/wolf.jpg) ;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}



.footer{
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 400px;
	
		width: 480px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image:  url(img/foot.jpg) ;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}



