*{

	margin: 0;
	padding: 0;

}
p{
	
padding-top: 360px;
}
.img{
 
   

}
.container {width: 100%; margin:0 auto; padding:0;}

 .nep{
 	padding-top:300px;
 }
 .nep1{
 	padding-top: 10px;
 }

a{
text-shadow: 2px 4px 3px rgba(0,0,0,0.7);
   font-style: italic;
	color: #fbffb8;
	text-decoration: none;
}


.head{
	width: 100%; margin:0 auto; padding:0;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	
height: 800px;
		width: 960px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image: url(img/andromedy-ngc-224-galaktika-m-31-1.jpg)  ;
	background-blend-mode: hard-light, multiply, normal;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}

.body{
	width: 100%; margin:0 auto; padding:0;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 800px;
	
		width: 960px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image: url(img/game-of-thrones-margaery-tyrell-pinup-models-pinup-vintage-f.jpg) ;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}


.body2{
	width: 100%; margin:0 auto; padding:0;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 800px;
	
		width: 960px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image:  url(img/game-of-thrones-daenerys-targaryen-pinup-models-pinup-vintag.jpg) ;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}


.body3{
	width: 100%; margin:0 auto; padding:0;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 800px;
	
		width: 960px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image:  url(img/wolf.jpg) ;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}



.footer{
	width: 100%; margin:0 auto; padding:0;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	height: 800px;
	
		width: 960px;
	margin: auto;
	
	font-size: 40px;
	font-family: Century Gothic;
	text-align: center;
	color: white;
	background-image:  url(img/foot.jpg) ;
background-repeat: no-repeat;
background-position: center center;

background-size: cover;
}
h3{
	padding-top: 55px;
	
	font-family: arial;
	margin: auto;
	background: grey;
	width: 960px;
	color: white;
	text-align: center;
}



